// --------------------- Footer Section ---------------------

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
    // background-color: #373737;
    padding: 10vh 0 10vh 0;
    // @media (max-width: 1000px)
    // {
    //     padding: 5vh 0 5vh 0;
    // }
    // @media (max-width: 576px) {
    //     padding: 26vh 0 20vh 0;
    // }
    &__container{
        // background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--sloganBox{
            padding-top: 5vh;
            background-color: transparent;
            display: flex;
            // flex-direction: column;
            align-items: center;

            &__logo{
                display: flex;
                justify-content: center;
                border-radius: 5px;
                margin-bottom: 0;
                // width: 350px;
                width: 40vw;
                height: 80px;
                object-fit: cover;
            }
            &__text{
                display: flex;
                // justify-content: center;
                background-color: transparent;
                color: white;
                // font-style: italic;
                margin-bottom: 0;
                width: 40vw;
                font-size: 14px;
            }
        }
        &--contactBox{
            background-color: transparent;
            display: flex;
            justify-content: center;
            border-top: thin solid whitesmoke;
            width: 50%;
            @media (max-width: 1200px) {
                width: 700px;
            }
            @media (max-width: 992px) {
                width: 500px;
            }
            @media (max-width: 576px) {
                width: 300px;
            }

            &__column{
                // border-top: thin solid whitesmoke;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                // padding: 20px 20px 10vh 20px;
                padding: 20px 20px 1vh 20px;

                &--row:hover{
                    text-shadow: 1.5px 1.5px 5px white;
                }

                &--row{
                    display: flex;
                    background-color: transparent;
                    padding: 5px;
                    color: whitesmoke;
                    text-decoration: none;
                    cursor: pointer;
                    text-shadow: 0.5px 0.25px grey;
                    // text-shadow: 1px 1px 2px grey;
                }
            }
        }
        &--linkBox{
            display: flex;
            justify-content: center;
            // align-items: center;
            border-top: thin solid whitesmoke;
            width: 50%;
            // justify-content: space-around;
            @media (max-width: 1200px) {
                width: 700px;
            }
            @media (max-width: 992px) {
                width: 500px;
            }
            @media (max-width: 576px) {
                width: 300px;
            }

            &__link{
                // border-top: thin solid whitesmoke;
                // width: 80%;
                padding: 20px;
                // text-align: center;
                text-decoration: none;
                color: whitesmoke;
                text-shadow: 0.5px 0.25px grey;
            }
            &__link:hover{
                padding: 20px;
                text-decoration: none;
                text-shadow: 1.5px 1.5px 5px white;
            }
        }

        &--signatureBox{
            // border: red dashed 1px;
            position: absolute;
            left: 1%;
            z-index: 999;

            @media (min-width: 1200px) {
                top: 470%;
            }
            @media (max-width: 1200px) {
                top: 470%;
            }
            @media (max-width: 992px) {
                top: 570%;
            }
            @media (max-width: 576px) {
                top: 670%;
            }

            &__signature{
                color: white;
                // margin-bottom: 0;
                // width: 40vw;
                font-size: 12px;

                // border: red dashed 1px;
            }
        }
    }
}