// --------------------- MAIN (Landing Page) ---------------------

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    // z-index: 2;

    &__goUp{
        // position: absolute;
        z-index: 10;
        position: fixed;
        bottom: 0;
        // top: 92%;
        top: 93vh;
        // left: 95%;
        left: 95vw;

        &--img:hover{
            opacity: 100%;
            transform: scale(1.1)(rotate(90deg));
        }

        &--img{
            // width: 50px;
            // width: 4vw;
            width: 3vw;
            cursor: pointer;
            // opacity: 80%;
            opacity: 70%;
            transition: transform .1s ease;
            transform: rotate(90deg);
        }

    }

    &__splashBox{
        display: flex;
        justify-content: center;
        // align-items: center;
        height: 100vh;
        width: 100%;
        // filter: blur(8px);
        // -webkit-filter: blur(2px);

        &--background{

            // background-image: url("../backgrounds/splash.jpg");

            background-image:
linear-gradient(to right bottom, rgba(112, 74, 207, 0.384), rgba(155, 71, 172, 0.1)),
url("../backgrounds/splash.jpg");

            background-size: cover;
            background-size: 2300px;
            background-position: center;
            height: 100vh;
            width: 100%;
            z-index: 1;

            // filter: blur(0.60px);
            // -webkit-filter: blur(2px);

            // &__filter{
                // background-image: linear-gradient(to right bottom, rgba(142, 57, 153, 0.75), rgba(30, 115, 172, 0.75));
            //     background-size: cover;
            //     margin-top: -20rem;
            // //     transform: rotate(45deg);
            //     transform: skewY(-5deg);
            //     display: block;
            //     margin: 0;
            //     height: 100vh;
            //     width: 100%;
            // }

        }

        &--container{
            position: absolute;
            text-align: center;
            // margin: 10px 20px;
            margin: 10vh 20px;
            z-index: 1;

            // top: 25%;
            // left: 30%;

            // border: aquamarine dashed medium;

            &__header{
                color: white;
                opacity: 80%;
                font-size: 600%;
                font-weight: normal;
                margin: 0 0 10px 0;
                padding: 2px;
                text-shadow: 1px 1px 2px grey;
                cursor: default;

                // border: brown dashed thin;

            }

            &__subHeader{
                color: white;
                opacity: 80%;
                font-size: 350%;
                font-weight: normal;
                // margin: 10px 0 100px 0;
                // margin: 10px 0 150px 0;
                margin: 10px 0 40vh 0;
                padding: 2px 7px;
                text-shadow: 1px 1px 2px grey;
                cursor: default;

                // border: brown dashed thin;

            }

            &__scrollDown{

                &--img:hover{
                    opacity: 90%;
                    transform: scale(1.2)(rotate(270deg));
                }

                &--img{
                    // width: 125px;
                    // width: 7vw;
                    width: 6vw;
                    cursor: pointer;
                    opacity: 50%;
                    transform: rotate(270deg);
                    transition: transform .1s ease;
                    
                }
            }
        }
    }

// ----------------- Background Animation -----------------

    .animationContainer{
        position: absolute;
        width: 100%;
        height: 335vh;
        transform: translateY(100vh);
        background-size: cover;
        background-position: center;
        // background-image:
        // linear-gradient(to top, rgba(187, 186, 181, 0.829), rgba(160, 155, 204, 0.836)),
        // url("../backgrounds/water.gif");

        background-image:
        linear-gradient(to top, rgba(160, 155, 204, 0.829), rgba(160, 155, 204, 0.836)),
        url("../backgrounds/water.gif");


        z-index: 0;
        // background-size: auto 100%;
        // background-repeat: no-repeat;
        @media (max-width: 992px) {
            height: 430vh;
        }

    }

// --------------------- Jumbotron Section ---------------------

    &__jumbotron{
        // background-image: url("../backgrounds/body-of-water-2276928.jpg");
        // background-image: linear-gradient(to right, #64495E, #4C5F9A);

        // background-image: linear-gradient(to right bottom, rgb(228, 216, 225), rgb(169, 176, 201));

        // background-image:
        // linear-gradient(to left top, rgba(228, 225, 235, 0.829), rgba(217, 197, 240, 0.836)),
        // url("../backgrounds/water.gif");

        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 20px 0;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        z-index: 2;

        // border: brown dashed medium;

        &--leftBox{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: #222;
            // color: gray;
            // padding-right: 20px;
            padding: 0 10px;
            margin: 20px;
            // width: 35%;
            width: 45%;
            // border: green dashed medium;

            &__textContainer{
                font-weight: normal;
                text-shadow: 0.5px 0.5px 1px grey;
                // font-size: 1.7rem;
                // border: brown dashed medium;
            }
        }

        &--rightBox{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            color: #222;
            // color: gray;
            // padding-left: 20px;
            padding: 0 10px;
            margin: 20px;
            // width: 35%;
            width: 45%;
            // border: green dashed medium;

            &__img:hover{
                // transform: scale(1.05);
            }

            &__img{
                // width: 8vw;
                // transition: transform .3s ease;
            }
            
            &__textContainer{
                // margin: 20px 0;
                font-weight: normal;
                // text-shadow: 1px 1px 1px grey;
                text-shadow: 0.5px 0.5px 1px grey;
                // font-size: 1.2rem;
                // border: brown dashed medium;
            }
        }
    }

// --------------------- Skills Section ---------------------

    &__skillsBox{

        // background-image:
        // linear-gradient(to top, rgba(112, 74, 207, 0.384), rgba(169, 176, 201, 0.1)),
        // url("../backgrounds/water.gif");

        // background-image:
        // linear-gradient(to right bottom, rgba(228, 225, 235, 0.829), rgba(217, 197, 240, 0.836)),
        // url("../backgrounds/water.gif");

        // background-image: linear-gradient(to right bottom, rgb(228, 216, 225), rgb(169, 176, 201));

        // background-size: cover;
        // margin-top: -20rem;
        // transform: skewY(-5deg);
        // display: block;
        // margin: 0;

        //-----------------------

        background-size: cover;
        // background-size: 2000px;
        background-position: center;
        // background-position: bottom left;

        display: flex;
        justify-content: center;
        // justify-content: space-around;
        align-items: center;
        padding: 0 0 20px 0;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        cursor: default;
        
        z-index: 2;

        &--background{
            position: absolute;
            // height: 70vh;
            height: 40vh;
            // height: 100vh;
            width: 100%;
            border-radius: 7px;

            background-image: linear-gradient(to right bottom, rgb(228, 216, 225), rgb(169, 176, 201));
            // background-color: whitesmoke;

            // background-image: url("../backgrounds/photo-of-cn-tower-during-golden-hour-2773226.jpg");

            // background-image:
            // linear-gradient(to top, rgba(112, 74, 207, 0.384), rgba(169, 176, 201, 0.1)),
            // url("../backgrounds/photo-of-road-near-buildings-2530579.jpg");
            // background-size: 1200px;
            // background-position: bottom left;
            // filter: blur(1px);

            opacity: 0.4;
            z-index: 0;

            // border: red dashed medium;
        }

        &--card:hover{
            transform: scale(1.05);
        }

        &--card{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            // justify-content: center;
            justify-content: space-between;
            align-items: center;
            // width: 200px;
            width: 180px;
            height: 250px;

            // text-decoration: none;
            // color: #222;
            // background-color: rgba(234, 235, 238, 0.459) !important; 
            background-color: rgba(234, 235, 238, 0.685) !important; 
            box-shadow: 2px 2px 3px grey;
            border-radius: 7px;
            // margin: 20px;
            margin: 2vw;

            transition: transform .3s ease;
            z-index: 2;

            &__img{
                width: 120px;
                background-color: transparent;
                padding: 30px 5px 5px 5px;
            }

            &__header{
                text-align: center;
                background-color: inherit;
                // color: white;
                color: rgba(41, 36, 36, 0.863);
                // font-weight: Normal;
                font-weight: bolder;
                background-color: transparent;
                padding: 5px;
                // text-shadow: 0.75px 0.75px 1.25px lightgray;
                text-shadow: 0.75px 0.75px 2px gray;
            }
        }
    }

// --------------------- Projects Section ---------------------

    &__projectsBox{
        // background-image: url("../backgrounds/silhouette-of-calm-sea-under-blue-and-orange-clear-sky-66278.jpg");
        // background-position: center;
        // background-size: cover;

        // background-image: linear-gradient(to right bottom, rgba(220, 240, 243, 0.596), rgb(169, 176, 201));

        // background-image: linear-gradient(to right bottom, rgb(228, 216, 225), rgb(169, 176, 201));

        background-position: center;
        background-size: cover;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // align-items: center;
        // padding: 4vh 0 24vh 0;
        // padding: 0 0 24vh 0;
        padding: 4vh 0 20vh 0;
        overflow: hidden;
        height: 100vh;
        z-index: 2;
        @media (max-width: 992px) {
            height: 200vh;
        }

        &--card:hover{
            transform: scale(1.008);
        }

        &--card{
            // background-image: url("../backgrounds/silhouette-of-calm-sea-under-blue-and-orange-clear-sky-66278.jpg");
            // border: brown dashed medium;
            background-attachment: fixed;
            border: none;
            cursor: default;
            position: relative;
            display: flex;
            // border-radius: 5px;
            border-radius: 7px;
            // margin: 5px;
            // margin: 6px;
            margin: 10px;
            text-shadow: 1px 1px 2px grey;
            overflow: hidden;
            box-shadow: 2px 2px 3px gray;
            transition: transform .3s ease;
            display: flex;
            justify-content: center;

            &__img{
                background-image: url("../backgrounds/code.jpg");
                // width: 750px;
                height: 50vh;
                object-fit: cover;
                background-position: center;
                background-size: cover;
                @media (min-width: 1200px) {
                    // width: 750px;
                    width: 45vw;
                }
                @media (max-width: 1200px) {
                    // width: 700px;
                    width: 43vw;
                }
                // @media (max-width: 1600px) {
                //     width: 600px;
                // }
                // @media (max-width: 1250px) {
                //     width: 500px;
                // }
                // @media (max-width: 1050px) {
                //     width: 450px;
                // }
                @media (max-width: 992px) {
                    width: 90vw;
                    // height: 40vh;
                }
                @media (max-width: 768px) {
                }
                @media (max-width: 576px) {
                }
            }

            &__textBox{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute; 
                background-color: rgba(255, 255, 255, .15);
                // backdrop-filter: blur(5px) contrast(.8);
                backdrop-filter: blur(3px) invert(.3);
                pointer-events: none;
                border: solid 1px white;
                border-radius: 5px;
                box-shadow: 1px 1px 2px gray;
                // padding: 10px;
                padding: 5px;
                // left: 5%;
                // top: 80%;
                top: 85%;
                width: 90%;
                // overflow: hidden;

                &--header{
                    color: white;
                    font-weight: normal;
                    // font-weight: bold;
                    font-size: 24px;
                    text-shadow: 1px 1px 1px grey;
                    margin: 0;
                    // padding: 0 10px 10px 10px;
                    
                }

                &--subHeader{
                    color: white;
                    font-weight: normal;
                    // font-weight: bold;
                    // font-size: 24px;
                    // font-size: 18px;
                    font-size: 16px;
                    text-shadow: 1px 1px 1px grey;
                    margin: 0;
                    // padding: 0 10px 10px 10px;
                }

                &--link{
                    text-decoration: none;
                    text-align: center;
                    color: white;
                    font-weight: normal;
                    // font-weight: bold;
                    // font-size: 18px;
                    font-size: 16px;
                    text-shadow: 1px 1px 1px grey;
                    margin: 0;
                    // padding: 10px 10px;
                    // padding: 0 10px 10px 11px;
                    // pointer-events: all;
                    pointer-events: auto;
                }

                &--link:hover{
                    // color: burlywood;
                    // text-shadow: 1.5px 1.5px 5px white;
                    text-shadow: 1px 1px 1px grey;
                    box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
                    background-color: orangered;
                }
            }
        }
    }
}

#portfolioDemo{
    background-image: url("../backgrounds/github.jpg");
    // width: 48vw;
    // height: 50vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
#portfolioDemo:hover{
    background-image: url("../backgrounds/portfolio.gif");
    animation-play-state: initial;
}


#bandDemo{
    background-image: url("../backgrounds/band-still.jpg");
    // background-image: url("../backgrounds/band2.gif");
    // animation-play-state: paused!important;
    // width: 48vw;
    // height: 50vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
#bandDemo:hover{
    background-image: url("../backgrounds/band.gif");
    animation-play-state: initial;
}

#brainFlixDemo{
    background-image: url("../backgrounds/brainflix-still.jpg");
    // width: 48vw;
    // height: 50vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
#brainFlixDemo:hover{
    background-image: url("../backgrounds/brainflix.gif");
    animation-play-state: initial;
}

#ivgDemo{
    background-image: url("../backgrounds/ivg-still2.jpg");
    // width: 48vw;
    // height: 50vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
#ivgDemo:hover{
    background-image: url("../backgrounds/ivg2.gif");
    animation-play-state: initial;
}