.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main__goUp {
  z-index: 10;
  position: fixed;
  bottom: 0;
}

@media (min-width: 1200px) {
  .main__goUp {
    top: 93vh;
    left: 95vw;
  }
}

@media (max-width: 1200px) {
  .main__goUp {
    top: 90vh;
    left: 90vw;
  }
}

@media (max-width: 576px) {
  .main__goUp {
    top: 90vh;
    left: 85vw;
  }
}

.main__goUp--img:hover {
  opacity: 0.95;
  -webkit-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotate(90deg);
}

.main__goUp--img {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (min-width: 1200px) {
  .main__goUp--img {
    width: 3vw;
  }
}

@media (max-width: 1200px) {
  .main__goUp--img {
    width: 35px;
  }
}

@media (max-width: 576px) {
  .main__goUp--img {
    width: 30px;
  }
}

.main__splashBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

.main__splashBox--background {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(143, 123, 196, 0.384)), to(rgba(155, 71, 172, 0.1))), url("../backgrounds/splash.jpg");
  background-image: linear-gradient(to right bottom, rgba(143, 123, 196, 0.384), rgba(155, 71, 172, 0.1)), url("../backgrounds/splash.jpg");
  background-size: cover;
  background-size: 2300px;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.main__splashBox--container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20vh 0;
}

.main__splashBox--container__header {
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 2px grey;
  font-weight: normal;
  cursor: default;
}

@media (min-width: 1200px) {
  .main__splashBox--container__header {
    font-size: 600%;
    margin: 0 0 10px 0;
    padding: 2px;
  }
}

@media (max-width: 1200px) {
  .main__splashBox--container__header {
    font-size: 400%;
  }
}

@media (max-width: 576px) {
  .main__splashBox--container__header {
    font-size: 40px;
    padding: 20px 5px;
    margin: 0 0 10px 0;
  }
}

.main__splashBox--container__subHeader {
  color: white;
  opacity: 0.8;
  font-weight: normal;
  text-shadow: 1px 1px 2px grey;
  cursor: default;
}

@media (min-width: 1200px) {
  .main__splashBox--container__subHeader {
    font-size: 350%;
    margin: 10px 0 25vh 0;
    padding: 2px 7px;
  }
}

@media (max-width: 1200px) {
  .main__splashBox--container__subHeader {
    font-size: 300%;
    margin: 10px 0 25vh 0;
  }
}

@media (max-width: 576px) {
  .main__splashBox--container__subHeader {
    font-size: 40px;
    margin: 10px 0 25vh 0;
    padding: 2px 7px;
  }
}

.main__splashBox--container__scrollDown--img:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.2) rotate(270deg);
          transform: scale(1.2) rotate(270deg);
}

.main__splashBox--container__scrollDown--img {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

@media (min-width: 1200px) {
  .main__splashBox--container__scrollDown--img {
    width: 6vw;
  }
}

@media (max-width: 1200px) {
  .main__splashBox--container__scrollDown--img {
    width: 70px;
  }
}

@media (max-width: 576px) {
  .main__splashBox--container__scrollDown--img {
    width: 60px;
  }
}

.main__jumbotron {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9aa1c2), to(#a9b0c9));
  background-image: linear-gradient(to top, #9aa1c2, #a9b0c9);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.main__jumbotron--leftBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #222;
  border: green dashed medium;
}

@media (min-width: 1200px) {
  .main__jumbotron--leftBox {
    padding: 0 10px;
    margin: 20px;
    width: 45%;
  }
}

@media (max-width: 576px) {
  .main__jumbotron--leftBox {
    padding: 5px;
    width: 90%;
  }
}

.main__jumbotron--leftBox__textContainer {
  font-weight: normal;
  text-shadow: 0.5px 0.5px 1px grey;
  border: brown dashed 1px;
}

.main__jumbotron--rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #222;
  border: green dashed medium;
}

@media (min-width: 1200px) {
  .main__jumbotron--rightBox {
    padding: 0 10px;
    margin: 20px;
    width: 45%;
  }
}

@media (max-width: 576px) {
  .main__jumbotron--rightBox {
    padding: 5px;
    width: 90%;
  }
}

.main__jumbotron--rightBox__textContainer {
  font-weight: normal;
  text-shadow: 0.5px 0.5px 1px grey;
  border: brown dashed 1px;
}

.main__skillsBox {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9aa1c2), to(#a9b0c9));
  background-image: linear-gradient(to bottom, #9aa1c2, #a9b0c9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  cursor: default;
}

.main__skillsBox--background {
  position: absolute;
  height: 40vh;
  height: 70%;
}

.main__skillsBox--card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__skillsBox--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 250px;
  background-color: rgba(234, 235, 238, 0.685) !important;
  -webkit-box-shadow: 2px 2px 3px grey;
          box-shadow: 2px 2px 3px grey;
  border-radius: 7px;
  margin: 2vw;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  z-index: 2;
}

.main__skillsBox--card__img {
  width: 120px;
  background-color: transparent;
  padding: 30px 5px 5px 5px;
}

.main__skillsBox--card__header {
  text-align: center;
  background-color: inherit;
  color: rgba(41, 36, 36, 0.863);
  font-weight: bolder;
  background-color: transparent;
  padding: 5px;
  text-shadow: 0.75px 0.75px 2px gray;
}

.main__projectsBox {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9aa1c2), to(#a9b0c9));
  background-image: linear-gradient(to top, #9aa1c2, #a9b0c9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4vh 0 20vh 0;
  overflow: hidden;
  height: 100vh;
  z-index: 2;
}

@media (max-width: 992px) {
  .main__projectsBox {
    height: 200vh;
  }
}

.main__projectsBox--card:hover {
  -webkit-transform: scale(1.008);
          transform: scale(1.008);
}

.main__projectsBox--card {
  background-attachment: fixed;
  border: none;
  cursor: default;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7px;
  margin: 10px;
  text-shadow: 1px 1px 2px grey;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 3px gray;
          box-shadow: 2px 2px 3px gray;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__projectsBox--card__img {
  background-image: url("../backgrounds/code.jpg");
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .main__projectsBox--card__img {
    width: 45vw;
  }
}

@media (max-width: 1200px) {
  .main__projectsBox--card__img {
    width: 43vw;
  }
}

@media (max-width: 992px) {
  .main__projectsBox--card__img {
    width: 90vw;
  }
}

.main__projectsBox--card__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(3px) invert(0.3);
          backdrop-filter: blur(3px) invert(0.3);
  pointer-events: none;
  border: solid 1px white;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  padding: 5px;
  top: 85%;
  width: 90%;
}

.main__projectsBox--card__textBox--header:hover {
  background-color: orangered;
}

.main__projectsBox--card__textBox--header {
  text-decoration: none;
  font-weight: normal;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 1px grey;
  margin: 0;
  pointer-events: auto;
}

.main__projectsBox--card__textBox--subHeader {
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-shadow: 1px 1px 1px grey;
  margin: 0;
}

.main__projectsBox--card__textBox--link:hover {
  text-shadow: 1px 1px 1px grey;
  -webkit-box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
          box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
  background-color: orangered;
}

.main__projectsBox--card__textBox--link {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-shadow: 1px 1px 1px grey;
  margin: 0;
  pointer-events: auto;
}

#portfolioDemo {
  background-image: url("../backgrounds/github.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#portfolioDemo:hover {
  background-image: url("../backgrounds/portfolio.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#bandDemo {
  background-image: url("../backgrounds/band-still.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#bandDemo:hover {
  background-image: url("../backgrounds/band.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#brainFlixDemo {
  background-image: url("../backgrounds/brainflix-still.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#brainFlixDemo:hover {
  background-image: url("../backgrounds/brainflix.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#ivgDemo {
  background-image: url("../backgrounds/ivg-still2.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#ivgDemo:hover {
  background-image: url("../backgrounds/ivg2.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}
/*# sourceMappingURL=main.css.map */