.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main__goUp {
  z-index: 10;
  position: fixed;
  bottom: 0;
}

@media (min-width: 1200px) {
  .main__goUp {
    top: 93vh;
    left: 96vw;
  }
}

@media (max-width: 1200px) {
  .main__goUp {
    top: 90vh;
    left: 90vw;
  }
}

@media (max-width: 576px) {
  .main__goUp {
    top: 85vh;
    left: 88vw;
  }
}

.main__goUp--img:hover {
  opacity: 0.95;
  -webkit-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotate(90deg);
}

.main__goUp--img {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (min-width: 1200px) {
  .main__goUp--img {
    width: 3vw;
  }
}

@media (max-width: 1200px) {
  .main__goUp--img {
    width: 35px;
  }
}

@media (max-width: 576px) {
  .main__goUp--img {
    width: 35px;
  }
}

.main__splashBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

.main__splashBox--background {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(143, 123, 196, 0.384)), to(rgba(155, 71, 172, 0.1))), url("../backgrounds/splash.jpg");
  background-image: linear-gradient(to right bottom, rgba(143, 123, 196, 0.384), rgba(155, 71, 172, 0.1)), url("../backgrounds/splash.jpg");
  background-size: cover;
  background-size: 2300px;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.main__splashBox--container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20vh 0;
}

.main__splashBox--container__header {
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 2px grey;
  font-weight: normal;
  cursor: default;
}

@media (min-width: 1200px) {
  .main__splashBox--container__header {
    font-size: 600%;
    margin: 0;
    padding: 2px;
  }
}

@media (max-width: 1200px) {
  .main__splashBox--container__header {
    font-size: 75px;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .main__splashBox--container__header {
    font-size: 65px;
  }
}

@media (max-width: 768px) {
  .main__splashBox--container__header {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .main__splashBox--container__header {
    font-size: 40px;
    padding: 20px 5px 5px 5px;
    margin: 0 0 10px 0;
  }
}

.main__splashBox--container__subHeader {
  color: white;
  opacity: 0.8;
  font-weight: normal;
  text-shadow: 1px 1px 2px grey;
  cursor: default;
}

@media (min-width: 1200px) {
  .main__splashBox--container__subHeader {
    font-size: 350%;
    margin: 10px 0 25vh 0;
    padding: 2px 7px;
  }
}

@media (max-width: 1200px) {
  .main__splashBox--container__subHeader {
    font-size: 50px;
    margin: 10px 0 25vh 0;
  }
}

@media (max-width: 992px) {
  .main__splashBox--container__subHeader {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .main__splashBox--container__subHeader {
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .main__splashBox--container__subHeader {
    font-size: 30px;
    padding: 0 0 30px 0;
  }
}

.main__splashBox--container__scrollDown--img:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.2) rotate(270deg);
          transform: scale(1.2) rotate(270deg);
}

.main__splashBox--container__scrollDown--img {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

@media (min-width: 1200px) {
  .main__splashBox--container__scrollDown--img {
    width: 6vw;
  }
}

@media (max-width: 1200px) {
  .main__splashBox--container__scrollDown--img {
    width: 70px;
  }
}

@media (max-width: 576px) {
  .main__splashBox--container__scrollDown--img {
    width: 60px;
  }
}

.main__jumbotron {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9aa1c2), to(#a9b0c9));
  background-image: linear-gradient(to top, #9aa1c2, #a9b0c9);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

@media (max-width: 992px) {
  .main__jumbotron {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__jumbotron--leftBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #222;
}

@media (min-width: 1200px) {
  .main__jumbotron--leftBox {
    padding: 0 0 0 50px;
    margin: 10px;
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .main__jumbotron--leftBox {
    padding: 0 10px;
    margin: 10px;
    width: 45%;
  }
}

@media (max-width: 992px) {
  .main__jumbotron--leftBox {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .main__jumbotron--leftBox {
    color: black;
    width: 80%;
  }
}

.main__jumbotron--leftBox__textContainer {
  font-weight: normal;
  text-shadow: 0.5px 0.5px 1px grey;
}

@media (max-width: 576px) {
  .main__jumbotron--leftBox__textContainer {
    text-align: start;
    font-size: 25px;
  }
}

.main__jumbotron--rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #222;
}

@media (min-width: 1200px) {
  .main__jumbotron--rightBox {
    padding: 0 10px;
    margin: 10px;
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .main__jumbotron--rightBox {
    padding: 0 10px;
    margin: 10px;
    width: 45%;
  }
}

@media (max-width: 992px) {
  .main__jumbotron--rightBox {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .main__jumbotron--rightBox {
    width: 85%;
  }
}

.main__jumbotron--rightBox__textContainer {
  font-weight: normal;
  text-shadow: 0.5px 0.5px 1px grey;
}

@media (max-width: 576px) {
  .main__jumbotron--rightBox__textContainer {
    font-size: 20px;
    padding: 5px;
  }
}

.main__skillsBox {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9aa1c2), to(#a9b0c9));
  background-image: linear-gradient(to bottom, #9aa1c2, #a9b0c9);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: default;
  z-index: 2;
}

@media (min-width: 1200px) {
  .main__skillsBox {
    height: 100vh;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .main__skillsBox {
    height: 100vh;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .main__skillsBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .main__skillsBox {
    height: 200vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    background-color: whitesmoke;
  }
}

.main__skillsBox--background {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("../backgrounds/abstract-background.gif");
  background-size: cover;
}

@media (min-width: 1200px) {
  .main__skillsBox--background {
    opacity: 0.1;
  }
}

@media (max-width: 1200px) {
  .main__skillsBox--background {
    opacity: 0.1;
  }
}

@media (max-width: 576px) {
  .main__skillsBox--background {
    background: none !important;
  }
}

.main__skillsBox--card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__skillsBox--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background-color: rgba(241, 243, 243, 0.575) !important;
  -webkit-box-shadow: 2px 2px 3px grey;
          box-shadow: 2px 2px 3px grey;
  border-radius: 7px;
  margin: 0 2vw;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

@media (min-width: 1200px) {
  .main__skillsBox--card {
    width: 180px;
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .main__skillsBox--card {
    width: 180px;
    height: 250px;
  }
}

@media (max-width: 992px) {
  .main__skillsBox--card {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .main__skillsBox--card {
    width: 180px;
  }
}

@media (max-width: 576px) {
  .main__skillsBox--card {
    width: 90%;
    margin: 10px;
  }
}

.main__skillsBox--card__img {
  width: 120px;
  background-color: transparent;
  padding: 30px 5px 5px 5px;
}

@media (max-width: 576px) {
  .main__skillsBox--card__img {
    width: 140px;
  }
}

.main__skillsBox--card__header {
  text-align: center;
  background-color: inherit;
  color: rgba(41, 36, 36, 0.863);
  font-weight: bolder;
  background-color: transparent;
  padding: 5px;
  text-shadow: 0.75px 0.75px 2px gray;
}

.main__projectsBox {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9aa1c2), to(#a9b0c9));
  background-image: linear-gradient(to top, #9aa1c2, #a9b0c9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4vh 0 20vh 0;
  overflow: hidden;
  height: 100vh;
  z-index: 2;
}

@media (max-width: 992px) {
  .main__projectsBox {
    height: 200vh;
  }
}

.main__projectsBox--card:hover {
  -webkit-transform: scale(1.008);
          transform: scale(1.008);
}

.main__projectsBox--card {
  background-attachment: fixed;
  border: none;
  cursor: default;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7px;
  margin: 10px;
  text-shadow: 1px 1px 2px grey;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 3px gray;
          box-shadow: 2px 2px 3px gray;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__projectsBox--card__img {
  background-image: url("../backgrounds/code.jpg");
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .main__projectsBox--card__img {
    width: 45vw;
  }
}

@media (max-width: 1200px) {
  .main__projectsBox--card__img {
    width: 43vw;
  }
}

@media (max-width: 992px) {
  .main__projectsBox--card__img {
    width: 90vw;
  }
}

.main__projectsBox--card__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(3px) invert(0.3);
          backdrop-filter: blur(3px) invert(0.3);
  pointer-events: none;
  border: solid 1px white;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  padding: 5px;
  top: 85%;
  width: 90%;
}

@media (max-width: 576px) {
  .main__projectsBox--card__textBox {
    -webkit-backdrop-filter: blur(3px) invert(0.6);
            backdrop-filter: blur(3px) invert(0.6);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 62%;
    left: 5%;
    width: auto;
    border-radius: 5px;
  }
}

.main__projectsBox--card__textBox--header:hover {
  background-color: orangered;
  -webkit-box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
          box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
}

.main__projectsBox--card__textBox--header {
  text-decoration: none;
  font-weight: normal;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(41, 36, 36, 0.863);
  margin: 0;
  pointer-events: auto;
}

@media (max-width: 576px) {
  .main__projectsBox--card__textBox--header {
    font-size: 22px;
    padding: 5px;
  }
}

.main__projectsBox--card__textBox--subHeader {
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(41, 36, 36, 0.863);
  margin: 0;
}

@media (max-width: 576px) {
  .main__projectsBox--card__textBox--subHeader {
    font-size: 22px;
    padding: 5px;
  }
}

.main__projectsBox--card__textBox--link:hover {
  -webkit-box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
          box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
  background-color: orangered;
}

.main__projectsBox--card__textBox--link {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgba(41, 36, 36, 0.863);
  margin: 0;
  pointer-events: auto;
}

@media (max-width: 576px) {
  .main__projectsBox--card__textBox--link {
    font-size: 22px;
    padding: 5px;
  }
}

#portfolioDemo {
  background-image: url("../backgrounds/github.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#portfolioDemo:hover {
  background-image: url("../backgrounds/portfolio.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#bandDemo {
  background-image: url("../backgrounds/band-still.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#bandDemo:hover {
  background-image: url("../backgrounds/band.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#brainFlixDemo {
  background-image: url("../backgrounds/brainflix-still.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#brainFlixDemo:hover {
  background-image: url("../backgrounds/brainflix.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#ivgDemo {
  background-image: url("../backgrounds/ivg-still2.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#ivgDemo:hover {
  background-image: url("../backgrounds/ivg2.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}
/*# sourceMappingURL=main.css.map */