.main__pageBox {
  background-color: white;
  overflow: hidden;
  height: 100vh;
  padding: 4vh 0 20vh 0;
}

@media (max-width: 992px) {
  .main__pageBox {
    height: 260vh;
  }
}

@media (max-width: 768px) {
  .main__pageBox {
    height: 250vh;
  }
}

@media (max-width: 576px) {
  .main__pageBox {
    height: 130vh;
  }
}

.main__pageBox--header {
  text-align: center;
  color: rgba(42, 39, 46, 0.705);
  cursor: default;
}

.main__pageBox--projectsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__pageBox--projectsBox__card:hover {
  border-top: solid 2px white;
  border-right: solid 2px whitesmoke;
  border-bottom: solid 2px whitesmoke;
  border-left: solid 2px white;
}

.main__pageBox--projectsBox__card {
  background-attachment: fixed;
  border: none;
  cursor: default;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7px;
  border-top: solid 2px transparent;
  border-right: solid 2px grey;
  border-bottom: solid 2px grey;
  border-left: solid 2px transparent;
  margin: 10px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 3px gray;
          box-shadow: 2px 2px 3px gray;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 576px) {
  .main__pageBox--projectsBox__card {
    border-radius: 0;
    margin: 10px 0;
    height: 240px;
    border-top: solid 10px darkgrey;
    border-right: none;
    border-bottom: solid 10px darkgrey;
    border-left: none;
  }
}

.main__pageBox--projectsBox__card--playBtn {
  position: absolute;
  top: 5%;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(1px) invert(0.2);
          backdrop-filter: blur(1px) invert(0.2);
  pointer-events: none;
}

.main__pageBox--projectsBox__card--img {
  background-image: url("../backgrounds/code.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .main__pageBox--projectsBox__card--img {
    width: 40vw;
    height: 50vh;
    background-size: cover;
    background-position: top left;
  }
}

@media (max-width: 1200px) {
  .main__pageBox--projectsBox__card--img {
    width: 38vw;
    height: 50vh;
    background-size: cover;
    background-position: top left;
  }
}

@media (max-width: 992px) {
  .main__pageBox--projectsBox__card--img {
    width: 95vw;
    height: 62vh;
  }
}

@media (max-width: 768px) {
  .main__pageBox--projectsBox__card--img {
    height: 60vh;
  }
}

@media (max-width: 576px) {
  .main__pageBox--projectsBox__card--img {
    width: 100vw;
    height: 200px;
    background-size: cover;
  }
}

.main__pageBox--projectsBox__card--textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(3px) invert(0.3);
          backdrop-filter: blur(3px) invert(0.3);
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
}

@media (max-width: 1200px) {
  .main__pageBox--projectsBox__card--textBox {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 576px) {
  .main__pageBox--projectsBox__card--textBox {
    height: 40px;
  }
}

.main__pageBox--projectsBox__card--textBox__header:hover {
  background-color: rgba(31, 31, 31, 0.2);
  -webkit-box-shadow: 5px 0 0 rgba(31, 31, 31, 0.2), -5px 0 0 rgba(31, 31, 31, 0.2);
          box-shadow: 5px 0 0 rgba(31, 31, 31, 0.2), -5px 0 0 rgba(31, 31, 31, 0.2);
}

@media (max-width: 1200px) {
  .main__pageBox--projectsBox__card--textBox__header:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.main__pageBox--projectsBox__card--textBox__header {
  text-decoration: none;
  font-weight: normal;
  color: white;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0 10px;
  -webkit-box-shadow: 5px 0 0 rgba(255, 255, 255, 0.15), -5px 0 0 rgba(255, 255, 255, 0.15);
          box-shadow: 5px 0 0 rgba(255, 255, 255, 0.15), -5px 0 0 rgba(255, 255, 255, 0.15);
  border-radius: 2px;
  pointer-events: auto;
}

@media (max-width: 576px) {
  .main__pageBox--projectsBox__card--textBox__header {
    font-size: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 7px;
  }
}

.main__pageBox--projectsBox__card--textBox__link:hover {
  background-color: rgba(31, 31, 31, 0.2);
  -webkit-box-shadow: 5px 0 0 rgba(31, 31, 31, 0.2), -5px 0 0 rgba(31, 31, 31, 0.2);
          box-shadow: 5px 0 0 rgba(31, 31, 31, 0.2), -5px 0 0 rgba(31, 31, 31, 0.2);
}

@media (max-width: 1200px) {
  .main__pageBox--projectsBox__card--textBox__link:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.main__pageBox--projectsBox__card--textBox__link {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0 10px;
  -webkit-box-shadow: 5px 0 0 rgba(255, 255, 255, 0.15), -5px 0 0 rgba(255, 255, 255, 0.15);
          box-shadow: 5px 0 0 rgba(255, 255, 255, 0.15), -5px 0 0 rgba(255, 255, 255, 0.15);
  border-radius: 2px;
  margin: 0;
  pointer-events: auto;
}

@media (max-width: 1200px) {
  .main__pageBox--projectsBox__card--textBox__link {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 576px) {
  .main__pageBox--projectsBox__card--textBox__link {
    font-size: 20px;
    border-radius: 7px;
  }
}

.main__pageBox--projectsBox__card--textBox__subHeader {
  color: white;
  font-weight: normal;
  font-size: 24px;
  padding: 0 5px;
  margin: 0;
}

@media (max-width: 576px) {
  .main__pageBox--projectsBox__card--textBox__subHeader {
    font-size: 20px;
  }
}

#portfolioDemo {
  background-image: url("../backgrounds/github.jpg");
  -o-object-fit: cover;
     object-fit: cover;
}

#portfolioDemo:hover {
  background-image: url("../backgrounds/portfolio.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#bandDemo {
  background-image: url("../backgrounds/band-still.jpg");
  -o-object-fit: cover;
     object-fit: cover;
}

#bandDemo:hover {
  background-image: url("../backgrounds/band.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#brainFlixDemo {
  background-image: url("../backgrounds/brainflix-still.jpg");
  -o-object-fit: cover;
     object-fit: cover;
}

#brainFlixDemo:hover {
  background-image: url("../backgrounds/brainflix.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}

#ivgDemo {
  background-image: url("../backgrounds/ivg-still2.jpg");
  -o-object-fit: cover;
     object-fit: cover;
}

#ivgDemo:hover {
  background-image: url("../backgrounds/ivg2.gif");
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}
/*# sourceMappingURL=projects.css.map */