.project1{
       grid-column:1/3;
}

.project2{
    grid-column: 3;
}

.project3{
    grid-column: 1;
}

.project4{
    grid-column:2/4;
}

.main{
    // --------------------- Projects Section ---------------------

&__pageBox{
    // background-image: url("../backgrounds/silhouette-of-calm-sea-under-blue-and-orange-clear-sky-66278.jpg");
    // background-position: center;
    // background-size: cover;

    // background-image: linear-gradient(to right bottom, rgba(220, 240, 243, 0.596), rgb(169, 176, 201));

    // background-image: linear-gradient(to right bottom, rgb(228, 216, 225), rgb(169, 176, 201));

    // background-position: center;
    // background-size: cover;

    // background-image: linear-gradient(to top, rgba(250, 250, 250, 0.418), rgba(169, 176, 201, 0.473));

    // background-image: linear-gradient(to top, rgba(169, 176, 201, 0.473), rgba(169, 176, 201, 0.473));

    background-color: white;

    overflow: hidden;
    height: 100vh;
    padding: 4vh 0 20vh 0;

    
    // border: red dashed medium;
    @media (max-width: 992px) {
        height: 260vh;
    }
    @media (max-width: 768px) {
        height: 250vh;
    }
    @media (max-width: 576px) {
        height: 130vh;
        // background-image: linear-gradient(to top, rgb(169, 176, 201), rgba(222, 211, 233, 0.418));
    }

    &--header{
        text-align: center;
        color: rgba(42, 39, 46, 0.705);
        cursor: default;
        // text-align: left;
        // padding: 5px 5px 10px 20px;
    }

    &--projectsBox{

        // align-items: center;

        // overflow: hidden;
        // height: 100vh;
        // z-index: 2;

        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;

        display: grid;
        // grid-template-columns: 2fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-auto-rows: 300px;
        grid-auto-rows: minmax(300px, auto);

        // grid-column-gap: 1em;
        // grid-row-gap: 1em;
        // grid-gap: 1em;
        grid-gap: 10px;
        padding: 5px;

        @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }


        &__card:hover{
            // border: solid 2px whitesmoke;

            // border: solid 2px white;

            // border-top: solid 2px whitesmoke;
            // border-right: solid 2px whitesmoke;
            // border-bottom: solid 2px whitesmoke;
            // border-left: solid 2px whitesmoke;

            // border-top: solid 2px rgba(63, 6, 117, 0.5);
            // border-right: solid 2px rgba(63, 6, 117, 0.5);
            // border-bottom: solid 2px rgba(63, 6, 117, 0.5);
            // border-left: solid 2px rgba(63, 6, 117, 0.5);

            @media (max-width: 576px) {
                // border: none;
            }
        }

        &__card{
            // background-image: url("../backgrounds/silhouette-of-calm-sea-under-blue-and-orange-clear-sky-66278.jpg");
            // border: brown dashed medium;
            background-attachment: fixed;
            border: none;
            cursor: default;
            position: relative;
            // border-radius: 2px;
            overflow: hidden;
            @media (max-width: 576px) {
                // border: none;
                border-radius: 0;
                margin: 10px 0;
                // margin: 0;
                height: 240px;

            }

            &--playBtn{
                position: absolute;
                top:5%;
                // top: 80%;
                // left: 5%;
                font-size: 14px;
                color: white;
                // color: orangered;
                border: none;
                // border: black solid 2px;
                border-radius: 15px;
                padding: 5px 10px;
                // background-color: transparent;
                // background-color: rgba(31, 31, 31, 0.2);
                background-color: rgba(255, 255, 255, 0);
                backdrop-filter: blur(1px) invert(.2);
                pointer-events: none;
                // pointer-events: all;


                // text-decoration: none;
                // outline: none;

                // border: red dashed medium;
            }

            &--img{
                background-image: url("../backgrounds/code.jpg");
                // width: 750px;
                // height: 50vh;
                // object-fit: cover;
                background-position: center;
                // background-size: cover;

                // background-position: top left;
                // background-size: 40vw;
                // background-size: auto;
                background-repeat: no-repeat;
                width: 100vw;

                @media (min-width: 1200px) {
                    // width: 750px;
                    // width: 45vw;
                    // width: 40vw;
                    height: 50vh;
                    // width: 100%;
                    // background-size: 40vw;
                    // background-size: 710px;
                    // background-size: cover;
                    // background-position: top left;

                    // display: flex;
                    // flex-direction: column;
                    // justify-content: center;
                    // align-items: stretch;
                }
                @media (max-width: 1200px) {
                    // width: 700px;
                    // width: 43vw;
                    // width: 38vw;
                    height: 40vh;
                    // background-size: 35vw;
                    background-size: cover;
                    background-position: top left;
                }
                @media (max-width: 992px) {
                    // width: 95vw;
                    height: 62vh;
                    
                    // height: 40vh;
                }
                @media (max-width: 768px) {
                    // width: 90vw;
                    height: 60vh;
                }
                @media (max-width: 576px) {
                    // width: 100vw;
                    // height: 280px;
                    height: 200px;
                    // background-size: 100vw;
                    // background-position: top left;
                    background-size: cover;
                }
            }

            &--textBox:hover{
                // background-color: rgba(137, 135, 168, 0.466);
            }

            &--textBox{
                display: flex;
                justify-content: space-between;
                align-items: center;
                // position: absolute;
                // top: 0;

                background-color: rgba(255, 255, 255, .15);
                // backdrop-filter: blur(5px) contrast(.8);
                backdrop-filter: blur(3px) invert(.3);
                // pointer-events: none;
                box-shadow: 1px 1px 2px gray;
                // border: red dashed medium;

                // padding: 5px;

                // overflow: hidden;
                @media (min-width: 1200px) {
                    // height: 35px;
                }
                @media (max-width: 1200px) {
                    // height: 35px;
                    box-shadow: none;
                }
                @media (max-width: 992px) {
                }
                @media (max-width: 768px) {
                    // position: absolute;
                    // top: 0;
                }
                @media (max-width: 576px) {
                    // height: auto;
                    height: 40px;
                    // backdrop-filter: blur(3px) invert(.6);
                    // flex-direction: column;
                    // align-items: flex-start;
                    // top: 40%;
                    // left: 2%;
                    // width: auto;
                    
                    // border: solid thin white;
                    // border-radius: 5px;
                    // // width: 220px;
                }

                &__header:hover{

                    background-color: rgba(31, 31, 31, 0.2);
                    box-shadow: 5px 0 0 rgba(31, 31, 31, 0.2), -5px 0 0 rgba(31, 31, 31, 0.2);



                    @media (min-width: 1200px) {
                    }
                    @media (max-width: 1200px) {
                        box-shadow: none;
                    }
                    @media (max-width: 992px) {
                    }
                    @media (max-width: 768px) {
                    }
                    @media (max-width: 576px) {
                        
                        // background-color: rgba(109, 70, 70, 0.459);
                    }
                }

                &__header{
                    text-decoration: none;
                    font-weight: normal;
                    color: white;
                    font-size: 24px;
                    background-color: rgba(255, 255, 255, .15);
                    padding: 0 10px;
                    box-shadow: 5px 0 0 rgba(255, 255, 255, .15), -5px 0 0 rgba(255, 255, 255, .15);
                    border-radius: 2px;

                    // text-shadow: 1px 1px 2px rgba(41, 36, 36, 0.863);

                    // margin: 0;
                    pointer-events: auto;
                    // padding: 0 10px 10px 10px;
                    @media (max-width: 576px) {
                        font-size: 20px;
                        box-shadow: none;
                        border-radius: 7px;

                    }
                    
                }

                &__link:hover{
                    // box-shadow: 5px 0 0 rgba(137, 135, 168, 0.466), -5px 0 0 rgba(137, 135, 168, 0.466);
                    // background-color: rgba(137, 135, 168, 0.466);

                    background-color: rgba(31, 31, 31, 0.2);
                    box-shadow: 5px 0 0 rgba(31, 31, 31, 0.2), -5px 0 0 rgba(31, 31, 31, 0.2);

                    @media (max-width: 1200px) {
                        box-shadow: none;
                    }
                    @media (max-width: 576px) {
                        // background-color: rgba(109, 70, 70, 0.459);
                    }
                }

                &__link{
                    text-decoration: none;
                    text-align: center;
                    color: white;
                    font-weight: normal;
                    // font-weight: bold;
                    // font-size: 18px;
                    font-size: 24px;
                    background-color: rgba(255, 255, 255, .15);
                    padding: 0 10px;
                    box-shadow: 5px 0 0 rgba(255, 255, 255, .15), -5px 0 0 rgba(255, 255, 255, .15);
                    border-radius: 2px;

                    // text-shadow: 1px 1px 2px rgba(41, 36, 36, 0.863);

                    margin: 0;
                    // padding: 10px 10px;
                    // padding: 0 10px 10px 11px;
                    // pointer-events: all;
                    
                    pointer-events: auto;
                    @media (max-width: 1200px) {
                        box-shadow: none;
                    }
                    @media (max-width: 576px) {
                        font-size: 20px;
                        border-radius: 7px;
                    }

                }

                &__subHeader{
                    color: white;
                    font-weight: normal;
                    // font-weight: bold;
                    // font-size: 18px;
                    // font-size: 16px;
                    font-size: 24px;
                    padding: 0 5px;
                    // text-shadow: 1px 1px 2px rgba(41, 36, 36, 0.863);

                    margin: 0;
                    // padding: 0 10px 10px 10px;
                    @media (max-width: 576px) {
                        // font-size: 18px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
}

#portfolioDemo{
    background-image: url("../backgrounds/github.jpg");
    // width: 48vw;
    // height: 50vh;
    // object-fit: cover;
    // background-position: center;
    // background-size: cover;
}
#portfolioDemo:hover{
    background-image: url("../backgrounds/portfolio.gif");
    animation-play-state: initial;
}


#bandDemo{
    background-image: url("../backgrounds/band-still.jpg");
    // background-image: url("../backgrounds/band.gif");



    // background-image: url("../backgrounds/band2.gif");
    // animation-play-state: paused!important;
    // width: 48vw;
    // height: 50vh;
    object-fit: cover;
    // background-position: center;
    // background-size: cover;
}
#bandDemo:hover{
    background-image: url("../backgrounds/band.gif");
    animation-play-state: initial;
}

#brainFlixDemo{
    background-image: url("../backgrounds/brainflix-still.jpg");
    // width: 48vw;
    // height: 50vh;
    object-fit: cover;
    // background-position: center;
    // background-size: cover;
}

#brainFlixDemo:hover{
    background-image: url("../backgrounds/brainflix.gif");
    animation-play-state: initial;
}

#ivgDemo{
    background-image: url("../backgrounds/ivg-still2.jpg");
    // width: 48vw;
    // height: 50vh;
    object-fit: cover;
    // background-position: center;
    // background-size: cover;
}
#ivgDemo:hover{
    background-image: url("../backgrounds/ivg2.gif");
    animation-play-state: initial;
}