.projectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#9aa1c2), to(#a9b0c9));
  background-image: linear-gradient(to left bottom, #9aa1c2, #a9b0c9);
}

@media (min-width: 1200px) {
  .projectInfo {
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  .projectInfo {
    height: 110vh;
  }
}

@media (max-width: 992px) {
  .projectInfo {
    height: 120vh;
  }
}

@media (max-width: 768px) {
  .projectInfo {
    height: 130vh;
  }
}

@media (max-width: 576px) {
  .projectInfo {
    height: 115vh;
  }
}

.projectInfo__linkBox {
  overflow: hidden;
}

.projectInfo__linkBox--link {
  cursor: default;
  overflow: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.projectInfo__linkBox--link__img {
  background-image: url("../backgrounds/code.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .projectInfo__linkBox--link__img {
    height: 98vh;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .projectInfo__linkBox--link__img {
    height: 98vh;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .projectInfo__linkBox--link__img {
    height: 80vh;
    width: 95%;
  }
}

.projectInfo__linkBox--link__header {
  position: absolute;
  left: 1%;
  top: 5%;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px grey;
}

.projectInfo__textSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 1vw;
}

@media (max-width: 992px) {
  .projectInfo__textSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .projectInfo__textSection--row {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .projectInfo__textSection--row {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .projectInfo__textSection--row {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .projectInfo__textSection--row {
    padding: 8vh 0;
  }
}

.projectInfo__textSection--row__text {
  text-shadow: 0.5px 0.25px grey;
}

.projectInfo__textSection--row__link:hover {
  color: white;
  -webkit-box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
          box-shadow: 10px 0 0 orangered, -10px 0 0 orangered;
  background-color: orangered;
}

.projectInfo__textSection--row__link {
  font-weight: bold;
  color: black;
  text-shadow: 0.5px 0.25px grey;
  text-decoration: none;
  -webkit-box-shadow: 10px 0 0 orange, -10px 0 0 orange;
          box-shadow: 10px 0 0 orange, -10px 0 0 orange;
  background-color: orange;
}

.projectInfo__textSection--imgBox__img {
  background-color: transparent;
}

@media (min-width: 1200px) {
  .projectInfo__textSection--imgBox__img {
    width: 120px;
    margin: 0 5px;
  }
}

@media (max-width: 1200px) {
  .projectInfo__textSection--imgBox__img {
    width: 120px;
    margin: 0 5px;
  }
}
/*# sourceMappingURL=projectinfo.css.map */