.main__skillsBox {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: default;
  z-index: 2;
}

@media (min-width: 1200px) {
  .main__skillsBox {
    height: 100vh;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .main__skillsBox {
    height: 100vh;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .main__skillsBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .main__skillsBox {
    height: 200vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    background-color: whitesmoke;
  }
}

.main__skillsBox--background {
  position: absolute;
  height: 100vh;
  width: 100%;
}

@media (min-width: 1200px) {
  .main__skillsBox--background {
    opacity: 0.1;
  }
}

@media (max-width: 1200px) {
  .main__skillsBox--background {
    opacity: 0.1;
  }
}

.main__skillsBox--card:hover {
  -webkit-transform: scale(1.05) translateY(-5px);
          transform: scale(1.05) translateY(-5px);
  -webkit-box-shadow: 0 4px 6px grey;
          box-shadow: 0 4px 6px grey;
}

.main__skillsBox--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(3px) invert(0.3);
          backdrop-filter: blur(3px) invert(0.3);
  -webkit-box-shadow: 2px 2px 3px grey;
          box-shadow: 2px 2px 3px grey;
  border-radius: 7px;
  margin: 10px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  z-index: 2;
}

@media (min-width: 1200px) {
  .main__skillsBox--card {
    width: 180px;
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .main__skillsBox--card {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .main__skillsBox--card {
    width: 200px;
  }
}

@media (max-width: 576px) {
  .main__skillsBox--card {
    width: 95%;
    margin: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__skillsBox--card__img {
  width: 120px;
  background-color: transparent;
  padding: 30px 5px 5px 5px;
}

@media (max-width: 576px) {
  .main__skillsBox--card__img {
    padding: 0;
  }
}

.main__skillsBox--card__header {
  text-align: center;
  background-color: inherit;
  color: white;
  font-weight: bolder;
  background-color: transparent;
  padding: 5px;
}

@media (min-width: 1200px) {
  .main__skillsBox--card__header {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .main__skillsBox--card__header {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .main__skillsBox--card__header {
    font-weight: normal;
    font-size: 26px;
    margin: 0;
  }
}
/*# sourceMappingURL=skills.css.map */