// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// @font-face {
//     font-family: 'Bungee Inline', cursive;
//     src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
//   }

@import url('https://fonts.googleapis.com/css?family=Montserrat');

// --------------------- Global ---------------------
* {
    // font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
    // font-family: 'Montserrat'!important;
    font-family: 'Montserrat', sans-serif;

    .scrolled{
        // visibility: hidden;
        // opacity: 0;
        // transition: visibility 0s 0.1s, opacity 0.5s linear;
    
        // -- or --

        visibility: visible;
        opacity: 0;
        transition: all 0.2s ease-out;

    }

    // background-color: whitesmoke;

    @media (min-width: 1200px) {
    }
    @media (max-width: 1200px) {
    }
    @media (max-width: 992px) {
    }
    @media (max-width: 768px) {
    }
    @media (max-width: 576px) {
    }

// border: brown dashed medium;
// border: green dashed 1px;

            // background-image: url("../backgrounds/splash.jpg");

            // background-image:
            // linear-gradient(to right bottom, rgba(112, 74, 207, 0.384), rgba(155, 71, 172, 0.1)),
            // url("../backgrounds/splash.jpg");

            // background-image:
            // linear-gradient(to right bottom, rgba(143, 123, 196, 0.384), rgba(155, 71, 172, 0.1)),
            // url("../backgrounds/splash.jpg");

            // background-image: linear-gradient(to top, rgb(154, 161, 194), rgb(169, 176, 201));

            // background-image:
            // linear-gradient(to  bottom, rgba(154, 161, 194, 0.829), rgb(169, 176, 201)),
            // url("../backgrounds/abstract-background.gif");

            // background-image:
            // linear-gradient(to bottom, rgba(26, 32, 39, 0.829), rgb(169, 176, 201)),
            // url("../backgrounds/abstract-background.gif");

            // background-image: linear-gradient(to top, rgb(121, 124, 138), rgb(169, 176, 201));

            // background-image: linear-gradient(to bottom, rgb(121, 124, 138), rgba(209, 186, 231, 0.418));

            

}

// ----------------- Background Container -----------------

    .longBackgroundContainer{
        position: absolute;
        width: 100%;
        height: 100vh;
        // width: 200vw;
        // height: 200vh;
        // transform: translateY(40vh);
        // transform: rotate(45deg);
        // transform: translateX(-50vw)translateY(0vh)(rotate(45deg));
        // z-index: -1;

        // border: red dashed medium;

        // height: 335vh;
        // transform: translateY(100vh);

        // background-size: cover;
        // background-position: center;

        // background-image:
        // linear-gradient(to top, rgba(187, 186, 181, 0.829), rgba(160, 155, 204, 0.836)),
        // url("../backgrounds/water.gif");

        // background-image:
        // linear-gradient(to top, rgba(160, 155, 204, 0.829), rgba(160, 155, 204, 0.836)),
        // url("../backgrounds/water.gif");

        // background-image:
        // linear-gradient(to bottom, rgba(160, 155, 204, 0.836), rgba(32, 31, 36, 0.774)),
        // url("../backgrounds/water.gif");

        background-image: linear-gradient(135deg, rgba(79, 71, 146, 0), rgba(32, 31, 36, 0.075));
        
        // background-color: #8BC6EC;
        // background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        

        
        // background-size: auto 100%;
        background-repeat: no-repeat;
        @media (min-width: 1200px) {
        }
        @media (max-width: 1200px) {
        }
        @media (max-width: 992px) {
            // height: 430vh;
        }
        @media (max-width: 768px) {
        }
        @media (max-width: 576px) {
        }
    }


