/* -----------------GLOBAL-------------------- */
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* ------------------NAVBAR--------------------- */
.scrolled {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.1s, opacity 0.1s linear;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}

.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar__linksBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2vw 0 2vw;
  background-image: linear-gradient(125deg, #252525, #313131);
}

.navbar__linksBox--links:hover {
  text-shadow: 1.5px 1.5px 5px white;
}

.navbar__linksBox--links {
  padding: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: whitesmoke;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0.5px 0.25px grey;
}

.navbar__linksBox--dropMenuBtn:hover {
  text-shadow: 1.5px 1.5px 5px white;
}

.navbar__linksBox--dropMenuBtn {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  outline: none;
  font-size: inherit;
}

/*---------------MAIN (Landing Page)------------ */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__splashBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.main__splashBox--background {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(112, 74, 207, 0.384)), to(rgba(155, 71, 172, 0.1))), url("../backgrounds/photo-of-seaside-during-daytime-3511543.jpg");
  background-image: linear-gradient(to right bottom, rgba(112, 74, 207, 0.384), rgba(155, 71, 172, 0.1)), url("../backgrounds/photo-of-seaside-during-daytime-3511543.jpg");
  background-size: cover;
  background-size: 2300px;
  background-position-y: -22vh;
  height: 100vh;
  width: 100%;
}

.main__splashBox--container {
  position: absolute;
  text-align: right;
  top: 10%;
  left: 60%;
}

.main__splashBox--container__header {
  color: white;
  background-color: transparent;
  font-size: 500%;
  font-weight: normal;
  margin: 0;
  padding: 2px;
  text-shadow: 1px 1px 2px grey;
}

.main__splashBox--container__subHeader {
  color: white;
  background-color: transparent;
  font-size: 300%;
  font-weight: normal;
  margin: 0;
  padding: 2px 7px;
  text-shadow: 1px 1px 2px grey;
}

.main__jumbotron {
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e4d8e1), to(#a9b0c9));
  background-image: linear-gradient(to right bottom, #e4d8e1, #a9b0c9);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.main__jumbotron--leftBox {
  color: #222;
  padding: 0 20px;
  margin: 20px;
  width: 35%;
}

.main__jumbotron--leftBox__textContainer {
  font-weight: normal;
}

.main__jumbotron--rightBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #222;
  padding: 0 20px;
  margin: 20px;
  width: 35%;
}

.main__jumbotron--rightBox__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__jumbotron--rightBox__img {
  width: 8vw;
  background-color: transparent;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.main__skillsBox {
  background-image: url("../backgrounds/body-of-water-2276928.jpg");
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(112, 74, 207, 0.384)), to(rgba(169, 176, 201, 0.1))), url("../backgrounds/body-of-water-2276928.jpg");
  background-image: linear-gradient(to top, rgba(112, 74, 207, 0.384), rgba(169, 176, 201, 0.1)), url("../backgrounds/body-of-water-2276928.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  cursor: default;
}

.main__skillsBox--card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__skillsBox--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 300px;
  color: #222;
  background-color: rgba(234, 235, 238, 0.459) !important;
  -webkit-box-shadow: 2px 2px 3px grey;
          box-shadow: 2px 2px 3px grey;
  border-radius: 5px;
  margin: 20px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.main__skillsBox--card__img {
  width: 7vw;
  background-color: transparent;
  padding: 30px 5px;
}

.main__skillsBox--card__header {
  text-align: center;
  color: white;
  background-color: transparent;
  padding: 5px;
  font-weight: normal;
  text-shadow: 1px 1px 2px gray;
}

.main__projectsBox {
  background-position: center;
  background-image: url("../backgrounds/silhouette-of-calm-sea-under-blue-and-orange-clear-sky-66278.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.main__projectsBox--card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__projectsBox--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 300px;
  color: #222;
  background-color: rgba(234, 235, 238, 0.459) !important;
  -webkit-box-shadow: 2px 2px 3px grey;
          box-shadow: 2px 2px 3px grey;
  border-radius: 5px;
  margin: 20px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.main__projectsBox--card__img {
  width: 7vw;
  background-color: transparent;
  padding: 30px 5px;
}

/* ------------------About Page--------------------- */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10vh;
}

/* ------------------Footer--------------------- */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252525;
  padding: 10vh 0 10vh 0;
}

@media (max-width: 1000px) {
  .footer {
    padding: 5vh 0 5vh 0;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 26vh 0 20vh 0;
  }
}

.footer__container {
  background-color: transparent;
}

.footer__container--sloganBox {
  padding-top: 5vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container--sloganBox__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  margin-bottom: 0;
  width: 40vw;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1000px) {
  .footer__container--sloganBox__logo {
    width: 50vw;
  }
}

@media (max-width: 700px) {
  .footer__container--sloganBox__logo {
    width: 75vw;
  }
}

@media (max-width: 576px) {
  .footer__container--sloganBox__logo {
    width: 90vw;
  }
}

.footer__container--sloganBox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  color: white;
  font-style: italic;
  margin-bottom: 0;
  width: 40vw;
}

@media (max-width: 1000px) {
  .footer__container--sloganBox__text {
    width: 50vw;
  }
}

@media (max-width: 700px) {
  .footer__container--sloganBox__text {
    width: 75vw;
  }
}

@media (max-width: 576px) {
  .footer__container--sloganBox__text {
    width: 95vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer__container--contactBox {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6vh;
}

@media (max-width: 1000px) {
  .footer__container--contactBox {
    padding-top: 5vh;
  }
}

@media (max-width: 576px) {
  .footer__container--contactBox {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer__container--contactBox__column {
  border-top: thin solid whitesmoke;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 5vh 20px;
}

@media (max-width: 1000px) {
  .footer__container--contactBox__column {
    padding: 10px 10px 0 10px;
  }
}

@media (max-width: 576px) {
  .footer__container--contactBox__column {
    padding: 30px 10px 0 10px;
  }
}

.footer__container--contactBox__column--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  padding: 5px;
  color: whitesmoke;
  text-decoration: none;
  text-shadow: 0.5px 0.25px grey;
}

@media (max-width: 576px) {
  .footer__container--contactBox__column {
    padding: 10px;
  }
}

.footer__container--linkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}

.footer__container--linkBox__link {
  border-top: thin solid whitesmoke;
  padding: 20px;
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 0.5px 0.25px grey;
  background-color: transparent;
}

@media (max-width: 1000px) {
  .footer__container--linkBox__link {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .footer__container--linkBox__link {
    padding: 5px;
    font-size: 18px;
  }
}

.footer__container--linkBox__link:hover {
  padding: 20px;
  text-decoration: none;
  padding-bottom: 6px;
  text-shadow: 1.8px 1.8px 5px grey;
  border-bottom: whitesmoke solid thin;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

@media (max-width: 1000px) {
  .footer__container--linkBox__link:hover {
    padding: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */